html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    border: 5px solid ghostwhite;
    background-color: ghostwhite;
    padding: 25px 50px 75px;
    width: 97%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scrollbox {
    width: 100%;
    height: 100%;
    line-height: 3em;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 5px;
}